# Prabin raj k p
## MSc Data Science
## Dept. of Future Studies

### Practice problems - chapter 2

2.1)Write Python algebraic expressions corresponding to the following statements:

(a) The sum of the first five positive integers

(b) The average age of Sara (age 23), Mark (age 19), and Fatima (age 31)

(c) The number of times 73 goes into 403

(d) The remainder when 403 is divided by 73

(e) 2 to the 10th power

(f) The absolute value of the difference between Sara’s height (54 inches) and Mark’s
height (57 inches)

(g) The lowest price among the following prices: $34.99, $29.95, and $31.50

In [19]:
1+2+3+4+5

15

In [20]:
(23+19+31)/2

36.5

In [21]:
403//73

5

In [22]:
403%73

38

In [23]:
2**10

1024

In [26]:
abs(54-57)

3

In [27]:
min(34.99,29.95,31.50)

29.95

2.2)Translate the following statements into Python Boolean expressions and evaluate them:

(a) The sum of 2 and 2 is less than 4.

(b) The value of 7 // 3 is equal to 1 + 1.

(c) The sum of 3 squared and 4 squared is equal to 25.

(d) The sum of 2, 4, and 6 is greater than 12.

(e) 1387 is divisible by 19.

(f) 31 is even. (Hint: what does the remainder when you divide by 2 tell you?)

(g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00.

In [28]:
2+2<4

False

In [29]:
7//3==1+1

True

In [31]:
(3**2)+(4**2)==25

True

In [33]:
2+4+6>12

False

In [34]:
1387/9==0

False

In [35]:
31%2==0

False

In [36]:
min(34.99,29.95)<30.00

True

2.3)Write Python statements that correspond to the actions below and execute them:

(a) Assign integer value 3 to variable a.

(b) Assign 4 to variable b.

(c) Assign to variable c the value of expression a * a + b * b.

In [4]:
a=3
b=4
c=(a*a)+(b*b)
c

25

2.4) Start by executing the assignment statements:

s1 = 'ant'

s2 = 'bat'

s3 = 'cod'

Write Python expressions using s1, s2, and s3 and operators + and * that evaluate to:

(a) 'ant bat cod'

(b) 'ant ant ant ant ant ant ant ant ant ant '

(c) 'ant bat bat cod cod cod'

(d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

(e) 'batbatcod batbatcod batbatcod batbatcod batbatcod

In [1]:
(s1,s2,s3)='ant','bat','cod'
print(s1+' '+s2+' '+s3)
print((s1+" ")*10)
print(((s1+" "+s2)+" ")*7)
print((((s2*2)+s3)+" ")*5)

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod batbatcod batbatcod

2.5) Start by executing the assignment:

s = '0123456789'

Now write expressions using string s and the indexing operator that evaluate to:

(a) '0'

(b) '1'

(c) '6'

(d) '8'

(e) '9'

In [20]:
s='0123456789'
s[0]
s[1]
s[6]
s[8]
s[9]

'9'

2.6) First execute the assignment

words = [ 'bat' , 'ball' , 'barn' , 'basket' , 'badminton' ]

Now write two Python expressions that evaluate to the first and last, respectively, word in
words, in dictionary order

In [55]:
words = [ 'bat' , 'ball' , 'barn' , 'basket' , 'badminton' ]
#words.sort()
print(min(words))
max(words)
#words

badminton

'bat'

2.7) Given the list of student homework grades
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]

write:

(a) An expression that evaluates to the number of 7 grades

(b) A statement that changes the last grade to 4

(c) An expression that evaluates to the maximum grade

(d) A statement that sorts the list grades

(e) An expression that evaluates to the average grade

In [65]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
print(grades.count(7))
grades[-1]=4
print("Updated list: ",grades)
print(max(grades))
grades.sort()
print("sorted list: ",grades)
print("average =",sum(grades)/len(grades))

2
Updated list:  [9, 7, 7, 10, 3, 9, 6, 6, 4]
10
sorted list:  [3, 4, 6, 6, 7, 7, 9, 9, 10]
average = 6.777777777777778

2.9) What is the type of the object that these expressions evaluate to?

(a)False + False

(b)2 * 3**2.0

(c)4 // 2 + 4 % 2

(d)2 + 3 == 4 or 5 >= 5

In [92]:
type(False+False)

int

In [91]:
type(2 * 3**2.0)

float

In [90]:
type(4 // 2 + 4 % 2)

int

In [89]:
type(2 + 3 == 4 or 5 >= 5)

bool

2.10) Write Python expressions corresponding to the following:

(a) The length of the hypotenuse in a right triangle whose other two sides have lengths a
and b

(b) The value of the expression that evaluates whether the length of the above hypotenuse
is 5

(c) The area of a disk of radius a

(d) The value of the Boolean expression that checks whether a point with coordinates x
and y is inside a circle with center (a, b) and radius r

In [88]:
import math
a=float(input("enter side a of the trianle: "))
b=float(input("enter side b of the trianle: "))
h=math.sqrt(a**2+b**2)
print("hypotenuse=",h,)
h==5

enter side a of the trianle: 3
enter side b of the trianle: 4
hypotenuse= 5.0

True

In [99]:
a=float(input("enter the radius of the circle"))
area=math.pi*(a**2)
print("area=",area)

enter the radius of the circle15
area= 706.8583470577034

In [104]:
print("Enter centre coordinates of the circle")
x=int(input())
y=int(input())
r=int(input("radiusof the circle: "))
print("Enter x,y coordinates of the point")
a=int(input())
b=int(input())
(x-a)**2+(y-b)**2<r**2

Enter centre coordinates of the circle
0
0
radiusof the circle: 2
Enter x,y coordinates of the point
2
3

False

### Exercise Problems

2.11 Write Python expressions corresponding to these statements:

(a) The sum of negative integers −7 through −1

(b) The average age of a group of kids at a summer camp given than 17 are 9 years old,
24 are 10 years old, 21 are 11 years old, and 27 are 12 years old

(c) 2 to the power −20

(d) The number of times 61 goes into 4356

(e) The remainder when 4365 is divided by 61

In [105]:
-7+-1

-8

In [108]:
# total number of students
17+24+21+27

89

In [109]:
#average age
(17*9+24*10+21*11+27*12)/89

10.651685393258427

In [111]:
2**(-20)

9.5367431640625e-07

In [112]:
4365//61

71

In [113]:
4365%61

34

2.12 Start by evaluating, in the interactive shell, the assignment:

s1 = '-'

s2 = '+'

Now write string expressions involving s1 and s2 and string operators + and * that evaluate
to:

(a) '-+'

(b) '-+-'

(c) '+--'


(d) '+--+--'

(e) '+--+--+--+--+--+--+--+--+--+--+'

(f) '+-+++--+-+++--+-+++--+-+++--+-+++--'

Try to make your string expressions as succinct as you can.

In [2]:
s1='-'
s2='+'

In [4]:
s1+s2

'-+'

In [5]:
s1+s2+s1

'-+-'

In [7]:
s2+(s1)*2

'+--'

In [12]:
(s2+(s1)*2)*2+

'+--+--+'

In [13]:
(s2+(s1)*2)*10+s2

'+--+--+--+--+--+--+--+--+--+--+'

In [10]:
(s2+s1+(s2)*3+(s1*2))*5

'+-+++--+-+++--+-+++--+-+++--+-+++--'

Start by running, in the shell, the following assignment statement:

 s = 'abcdefghijklmnopqrstuvwxyz'
 
Now write expressions using string s and the indexing operator that evaluate to 'a', 'c',
'z', 'y', and 'q'

In [17]:
s='abcdefghijklmnopqrstuvwxyz'

In [18]:
s[0]

'a'

In [19]:
s[-24]

'c'

In [20]:
s[25]

'z'

In [21]:
s[-2]

'y'

In [22]:
s[-10]

'q'

2.14 Start by executing

s = 'goodbye'

Then write a Boolean expression that checks whether:

(a) The first character of string s is 'g'

(b) The seventh character of s is 'g'

(c) The first two characters of s are 'g' and 'a'

(d) The next to last character of s is 'x'

(e) The middle character of s is 'd'

(f) The first and last characters of string s are equal

(g) The last four characters of string s match the string 'tion'

Note: These seven statements should evaluate to True, False, False, False, True, False,
and False, respective

In [24]:
s = 'goodbye'

In [25]:
s[0]=='g'

True

In [26]:
s[6]=='g'

False

In [31]:
s[0]=='g' and s[1]=='a'

False

In [32]:
s[-2]=='x'

False

In [37]:
len(s)

7

In [39]:
s[3]=='d'

True

In [43]:
s[0]==s[-1]

False

In [46]:
s[-4:7]=='tion'

False

2.15 Write Python expressions corresponding to these statements:

(a) The number of characters in the word "anachronistically" is 1 more than the number
of characters in the word "counterintuitive."

(b) The word "misinterpretation" appears earlier in the dictionary than the word "misrep-
resentation."

(c) The letter "e" does not appear in the word "floccinaucinihilipilification."

(d) The number of characters in the word "counterrevolution" is equal to the sum of the
number of characters in words "counter" and "resolution."

In [50]:
len("anachronistically")-len("counterintuitive")

1

In [1]:
"misinterpretation"<"misrepresentation"

True

In [4]:
'e' in "floccinaucinihilipilification."

False

In [5]:
len("counterrevolution")==len("counter")+len("resolution")

True

2.16 Write the corresponding Python assignment statements:

(a) Assign 6 to variable a and 7 to variable b.

(b) Assign to variable c the average of variables a and b.

(c) Assign to variable inventory the list containing strings 'paper', 'staples', and
'pencils'.

(d) Assign to variables first, middle and last the strings 'John', 'Fitzgerald',
and 'Kennedy'.

(e) Assign to variable fullname the concatenation of string variables first, middle,
and last. Make sure you incorporate blank spaces appropriately.

In [8]:
(a,b)=[6,7]

In [10]:
c=(a+b)/2
c

6.5

In [12]:
inventory=[ 'paper', 'staples', 'pencils']
inventory

['paper', 'staples', 'pencils']

In [15]:
(first,middle,last)=['John', 'Fitzgerald','Kennedy']

In [17]:
fullname=first+' '+middle+" "+last
fullname

'John Fitzgerald Kennedy'

2.17 Using variables defined in Exercise 2.16, write Boolean expressions corresponding to
the following logical statements and evaluate the expressions:

(a) The sum of 17 and −9 is less than 10.

(b) The length of list inventory is more than five times the length of string fullname.

(c) c is no more than 24.

(d) 6.75 is between the values of integers a and b.

(e) The length of string middle is larger than the length of string first and smaller than
the length string last.

(f) Either the list inventory is empty or it has more than 10 objects in it.

In [19]:
17-9<10

True

In [21]:
len(inventory)>5*len(fullname)

False

In [22]:
c<24

True

In [23]:
a<6.75<b

True

In [24]:
first>middle and middle<last

True

In [25]:
len(inventory)==0 or len(inventory)>10

False

2.18 Write Python statements corresponding to the following:

(a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea',
'yucca', 'marigold', 'daylilly', and 'lilly of the valley'.

(b) Write a Boolean expression that evaluates to True if string 'potato' is in list flowers,
and evaluate the expression.

(c) Assign to list thorny the sublist consisting of the first three objects in list flowers.

(d) Assign to list poisonous the sublist consisting of just the last object of list flowers.

(e) Assign to list dangerous the concatenation of lists thorny and poisonous.

In [13]:
flowers=['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly','lilly of the valley']
condition=False
if "potato" in flowers:
    condition=True
print(condition)
    
throny=list()
for i in [0,1,2]:
    throny.append(flowers[i])
poisonous=[flowers[-1]]
#poisonous
dangerous=poisonous+throny
dangerous

False

['lilly of the valley', 'rose', 'bougainvillea', 'yucca']

2.19 Start by assigning to variable answers a list containing an arbitrary sequence of strings

'Y' and 'N'. For example:

answers = [ 'Y' , 'N' , 'N' , 'Y' , 'N' , 'Y' , 'Y' , 'Y' , 'N' , 'N' , 'N' ]

Write Python statements corresponding to the following:

(a) Assign to variable numYes the number of occurrences of 'Y' in list answers.

(b) Assign to variable numNo the number of occurrences of 'N' in list answers.

(c) Assign to variable percentYes the percentage of strings in answers that are 'Y'.

(d) Sort the list answers.

(e) Assign to variable f the index of the first occurrence of 'Y' in sorted list answers.

In [28]:
answers = [ 'Y' , 'N' , 'N' , 'Y' , 'N' , 'Y' , 'Y' , 'Y' , 'N' , 'N' , 'N' ]
numYes=answers.count('Y')
numNo=answers.count('N')
percentYes=(numYes/(numYes+numNo))*100
answers.sort()
f=0
for i in answers:
    if i=='Y':
        break
    f=f+1

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

6

2.20 Write an expression involving a three-letter string s that evaluates to a string whose
characters are the characters of s in reverse order. If s is 'top', the expression should
evaluate to 'pot'.

In [5]:
s='top'
r=s[::-1]
print(r)

pot

2.21 Write an expression involving strings s and t containing the last name and the first
name, respectively, of a person that evaluates to the person’s initials. If the two strings con-
tained the first and last name of this book’s author, the expression would evaluate to 'LP'.

In [7]:
s=input("enter the first name: ")
t=input("enter the scond name: ")
i=s[0]+t[0]
i

enter the first name: Jane
enter the scond name: Doe

'JD'

2.22 The range of a list of numbers is the largest difference between any two numbers in the
list. Write a Python expression that computes the range of a list of numbers lst. If the list
lst is, say, [3, 7, -2, 12], the expression should evaluate to 14 (the difference between
12 and −2).

In [12]:
lst=[3, 7, -2, 12]
r=max(lst)-min(lst)
print("the range of the list is",r)

the range of the list is 14

2.23 Start by assigning to variables monthsL and monthsT a list and a tuple, respectively,
both containing strings 'Jan', 'Feb', 'Mar', and 'May', in that order. Then attempt the
following with both containers:

(a) Insert string 'Apr' between 'Mar' and 'May'.

(b) Append string 'Jun'.

(c) Pop the container.

(d) Remove the second item in the container.

(e) Reverse the order of items in the container.

(f) Sort the container.

Note: when attempting these on tuple monthsT you should expect errors.

In [36]:
monthsL=['Jan', 'Feb', 'Mar', 'May']
monthsT=('Jan', 'Feb', 'Mar', 'May')
monthsL.insert(3,'Apr')
monthsL.append('Jun')
monthsL.remove("Feb")
monthsL.reverse()
monthsL.sort()
monthsL

['Apr', 'Jan', 'Jun', 'Mar', 'May']

In [37]:
monthsT.insert(3,'Apr')

AttributeError: 'tuple' object has no attribute 'insert'

2.24 Start by assigning to variable grades a list containing an arbitrary sequence of grades
(strings) 'A', 'B', 'C', 'D', and 'F'. For example:
grades = [ 'B' , 'B' , 'F' , 'C' , 'B' , 'A' , 'A' , 'D' , 'C' , 'D' , 'A' , 'A' , 'B' ]
Write a sequence of Python statements that ultimately produce a list count that contains
the numbers of occurrences of each grade in list grades in alphabetic order. For the given
example, the list count should be [4, 4, 2, 2, 1].

In [51]:
grades = [ 'B' , 'B' , 'F' , 'C' , 'B' , 'A' , 'A' , 'D' , 'C' , 'D' , 'A' , 'A' , 'B' ] 
lst=list()
for i in ['A','B','C','D','F']:
    lst.append(grades.count(i))
lst
#grades

[4, 4, 2, 2, 1]

2.25 Repeat Problem 2.24 with the following modification: variable grades is defined to
be of type tuple rather than of type list:
grades = ( 'B' , 'B' , 'F' , 'C' , 'B' , 'A' , 'A' , 'D' , 'C' , 'D' , 'A' , 'A' , 'B' )
Variable count should still refer to a list.

In [54]:
grades = ( 'B' , 'B' , 'F' , 'C' , 'B' , 'A' , 'A' , 'D' , 'C' , 'D' , 'A' , 'A' , 'B' ) 
lst=list()
for i in ['A','B','C','D','F']:
    lst.append(grades.count(i))
lst

[4, 4, 2, 2, 1]

2.26 A dartboard of radius 10 and the wall it is hanging on are represented using the two-
dimensional coordinate system, with the board’s center at coordinate (0, 0). Variables x and
y store the x- and y-coordinate of a dart hit. Write an expression using variables x and y
that evaluates to True if the dart hits (is within) the dartboard, and evaluate the expression
for these dart coordinates:

(a) (0, 0)

(b) (10, 10)

(c) (6, −6)

(d) (−7, 8)

In [76]:
import math
lp="no"
while lp != "yes":
    x=int(input("Enter the X cordinate of the point: "))
    y=int(input('Enter the y coordinate of the point: '))
    d=math.sqrt(x+y)
    if d<10:
        print("you hit the target")
    else:
        print('oops you missed')
    lp=input('are you done: ')

Enter the X cordinate of the point: 0
Enter the y coordinate of the point: 0
you hit the target
are you done:
Enter the X cordinate of the point: 10
Enter the y coordinate of the point: 10
you hit the target
are you done:
Enter the X cordinate of the point: 6
Enter the y coordinate of the point: -6
you hit the target
are you done:
Enter the X cordinate of the point: -7
Enter the y coordinate of the point: 8
you hit the target
are you done: yes

2.27 A ladder put up right against a wall will fall over unless put up at a certain angle less
than 90 degrees. Given variables length and angle storing the length of the ladder and the
angle that it forms with the ground as it leans against the wall, write a Python expression
involving length and angle that computes the height reached by the ladder. Evaluate the
expression for these values of length and angle:

(a) 16 feet and 75 degrees

(b) 20 feet and 0 degrees

(c) 24 feet and 45 degrees

(d) 24 feet and 80 degrees

Note: You will need to use the trig formula:

height = length ∗ sin(angle)

The math module sin() function takes its input in radians. You will thus need to convert
the angle given in degrees to the angle given in radians using:

π ∗ degrees
/180

In [2]:
import math
loop='no'
while loop !='yes':
    l=int(input('Length= '))
    a=int(input('Angle= '))
    ar=(math.pi*l)/180
    h=l*math.sin(ar)
    print('The heigt of the ladder when Angle='+str(a)+' degree and length= '+str(l)+ ' is '+str(h))
    loop=input('Are you done? :')

Length= 54
Angle= 55
The heigt of the ladder when Angle=55 degree and length= 54 is 43.686917696247164
Are you done? :no
Length= 15
Angle= 88
The heigt of the ladder when Angle=88 degree and length= 15 is 3.882285676537811
Are you done? :yes

2.28 Write the relevant Python expression or statement, involving a list of numbers lst
and using list operators and methods for these specifications:
    
(a) An expression that evaluates to the index of the middle element of lst

(b) An expression that evaluates to the middle element of lst

(c) A statement that sorts the list lst in descending order

(d) A statement that removes the first number of list lst and puts it at the end

Note: If a list has even length, then the middle element is defined to be the rightmost of the
two elements in the middle of the list.

In [100]:
lst=[2,5,55,44,45,178,9,234,23]
l=len(lst)
mindex=l//2
print('the index of the middle element of lst is ',mindex)
print('middle element of lst is ',lst[mindex])

lst.sort(reverse=True)
print('list sorted in descending order ',lst)

g=lst[0]
lst.remove(lst[0])
lst.append(g)
print('modified list=',lst)

the index of the middle element of lst is  4
middle element of lst is  45
list sorted in descending order  [234, 178, 55, 45, 44, 23, 9, 5, 2]
modified list= [178, 55, 45, 44, 23, 9, 5, 2, 234]

2.30 Using an example of your own, explicitly convert some string to a list. Describe, in
your own words, the behavior of the list constructor on a string input.

In [107]:
str="A ladder put up right against a wall will fall over "
lst=list()
for words in str:
    lst=str.split()
lst
#in the above case we use the split funtion to split words in the list wit the delimiter white space
#in order to put all elements of the given string we use the for loop

['A',
 'ladder',
 'put',
 'up',
 'right',
 'against',
 'a',
 'wall',
 'will',
 'fall',
 'over']