# Evaluate the dataset containing the GDPs of different countries to:
#### • Find and print the name of the country with the highest GDP,
#### • Find and print the name of the country with the lowest GDP,
#### • Print out text and input values iteratively,
#### • Print out the entire list of the countries with their GDPs, and
#### • Print the highest GDP value, lowest GDP value, mean GDP value, standardized GDP value, and the sum of all the GDPs

In [25]:
import pandas as pd

In [26]:
#opening the txt
fh=open('CountriesGDP.txt')
txt=fh.read() 
#txt

In [27]:
lst=txt.split('\n\n\n')# print the txt(above cell) to understand
len(lst)

4

In [28]:
c=lst[1]
con=c.split(',')# splitting

In [29]:
g=lst[3]
gdp=g.split(',')

In [30]:
gdpp=list()
for i in gdp:
    gdpp.append(float(i))#converting str into float

In [31]:
df=pd.DataFrame(zip(gdpp,con),columns=['gdp','country'])# dataframe
df

             gdp          country
0    2255.225482        'Algeria'
1     629.955306         'Angola'
2   11601.630220      'Argentina'
3   25306.824940      'Australia'
4   27266.403350        'Austria'
..           ...              ...
58  37691.027330  'United States'
59   9581.056590        'Uruguay'
60   5671.912202      'Venezuela'
61    757.400929        'Vietnam'
62    347.745660       'Zimbabwe'

[63 rows x 2 columns]

In [32]:
# max GDP
df.loc[df['gdp']==max(df['gdp'])]

            gdp   country
45  40034.85063  'Norway'

In [33]:
# min GDP 
df.loc[df['gdp']==min(df['gdp'])]

           gdp     country
21  229.676952  'Ethiopia'

711232.7841133

In [35]:
df.values #entire list of the countries with their GDPs

array([[2255.225482, "'Algeria'"],
       [629.9553062, "'Angola'"],
       [11601.63022, "'Argentina'"],
       [25306.82494, "'Australia'"],
       [27266.40335, "'Austria'"],
       [19466.99052, "'Bahamas'"],
       [588.3691778, "'Bangladesh'"],
       [2890.345675, "'Belarus'"],
       [24733.62696, "'Belgium'"],
       [1445.760002, "'Bhutan'"],
       [4803.398244, "'Brazil'"],
       [2618.876037, "'Bulgaria'"],
       [590.4521124, "'Cambodia'"],
       [665.7982328, "'Cameroon'"],
       [7122.938458, "'Chile'"],
       [2639.54156, "'China'"],
       [3362.4656, "'Colombia'"],
       [15378.16704, "'Cyprus'"],
       [30860.12808, "'Denmark'"],
       [2579.115607, "'El Salvador'"],
       [6525.541272, "'Estonia'"],
       [229.6769525, "'Ethiopia'"],
       [2242.689259, "'Fiji'"],
       [27570.4852, "'Finland'"],
       [23016.84778, "'France'"],
       [1334.646773, "'Georgia'"],
       [402.6953275, "'Ghana'"],
       [6047.200797, "'Grenada'"],
       [394.1156638, "'Guinea'"],
       [385.5793827, "'Haiti'"],
       [1414.072488, "'Honduras'"],
       [5745.981529, "'Hungary'"],
       [837.7464011, "'India'"],
       [1206.991065, "'Indonesia'"],
       [27715.52837, "'Ireland'"],
       [18937.24998, "'Italy'"],
       [39578.07441, "'Japan'"],
       [478.2194906, "'Kenya'"],
       [16684.21278, " 'South Korea'"],
       [279.2204061, "'Liberia'"],
       [5345.213415, "'Malaysia'"],
       [6288.25324, "'Mexico'"],
       [1908.304416, " 'Morocco'"],
       [274.8728621, "'Nepal'"],
       [14646.42094, "'New Zealand'"],
       [40034.85063, "'Norway'"],
       [672.1547506, "'Pakistan'"],
       [3359.517402, " 'Peru'"],
       [36152.66676, "'Qatar'"],
       [3054.727742, "'Russia'"],
       [33529.83052, "'Singapore'"],
       [3825.093781, "'South Africa'"],
       [15428.32098, "'Spain'"],
       [33630.24604, "'Sweden'"],
       [39170.41371, "'Switzerland'"],
       [2699.123242, "'Thailand'"],
       [21058.43643, " 'United Arab Emirates'"],
       [28272.40661, "'United Kingdom'"],
       [37691.02733, "'United States'"],
       [9581.05659, "'Uruguay'"],
       [5671.912202, "'Venezuela'"],
       [757.4009286, "'Vietnam'"],
       [347.7456605, "'Zimbabwe'"]], dtype=object)

In [37]:
df.describe()#highest GDP value, 
#lowest GDP value, mean GDP value, 
#standardized GDP value

                gdp
count     63.000000
mean   11289.409272
std    12846.190627
min      229.676952
25%     1270.818919
50%     4803.398244
75%    20262.713475
max    40034.850630

In [38]:
#sum of all the GDPs
s=df['gdp'].sum()
s

711232.7841133