# Pandas

In [1]:
import pandas as pd

In [4]:
#creating a series
n=[1,2,3,4,5]
ind=(1,2,3,4,5)
s1=pd.Series(n,index=ind)
s1

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [8]:
b=[12,23,1,34,3,5,22]
s2=pd.Series(b)
s2

0    12
1    23
2     1
3    34
4     3
5     5
6    22
dtype: int64

In [9]:
# operations on series
s4=s1.append(s2)
s4

1     1
2     2
3     3
4     4
5     5
0    12
1    23
2     1
3    34
4     3
5     5
6    22
dtype: int64

In [10]:
s1.add(s2)

0     NaN
1    24.0
2     3.0
3    37.0
4     7.0
5    10.0
6     NaN
dtype: float64

In [13]:
s5=s1.sub(s2)
s5.div(s2)

0         NaN
1   -0.956522
2    1.000000
3   -0.911765
4    0.333333
5    0.000000
6         NaN
dtype: float64

In [16]:
s5.max()

1.0

In [17]:
s2.min()

1

In [18]:
s2.median()

12.0

In [19]:
s2.mean()

14.285714285714286

In [20]:
s5.mean()

-10.2

# Data frame

In [26]:
import numpy as np
index=[1,2,3,4,5]
arr=np.random.randn(5,5)
col=['A','B','C','D','E']
df1=pd.DataFrame(arr,index=index,columns=col)
df1

          A         B         C         D         E
1  1.016667 -0.156204 -2.311263 -0.385258  1.887595
2 -0.985274  0.234703  0.030526 -0.458876 -2.167065
3  0.040684  0.375055  0.214380 -1.716893 -0.766111
4  0.387200  1.602530  1.146289 -0.050103 -0.912219
5 -0.176943  0.296368 -0.159803 -0.712854  1.623637